!!!5
html
  head
    meta(charset='utf-8')
    title Test checker
    link(rel='stylesheet', href='../node_modules/grunt-contrib-qunit/test/libs/qunit.css')
  body
    h1 Hello 2
    script(src='../lib/jquery.min.js')
    script(src='../node_modules/grunt-contrib-qunit/test/libs/qunit.js')
    script(src='../checker.js')
    script(src='test_checker.js')

